main{
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
}

.downl{
    margin: 0 auto;
    width: 100%;
    min-width: 430px;
    max-width: 960px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 100px;
    position: relative;

}

.block{
    background: -webkit-linear-gradient(top,  rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%);
}

.a{
    width: 50px;
    height: 40px;
    background: -webkit-linear-gradient(top,  rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%);
    margin: 20px;
    border: 1px solid white;
}

.b{
    width: 50px;
    height: 60px;
    background: -webkit-linear-gradient(top,  rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%);
    margin: 20px;
    border: 1px solid white;
}

.c{
    width: 50px;
    height: 80px;
    background: -webkit-linear-gradient(top,  rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%);
    margin: 20px;
    border: 1px solid white;
}

.d{
    width: 50px;
    height: 100px;
    background: -webkit-linear-gradient(top,  rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%);
    margin: 20px;
    border: 1px solid white;
}

.e{
    width: 50px;
    height: 120px;
    background: -webkit-linear-gradient(top,  rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%);
    margin: 20px;
    border: 1px solid white;
}

.f{
    width: 50px;
    height: 140px;
    background: -webkit-linear-gradient(top,  rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%);
    margin: 20px;
    border: 1px solid white;
}
.circle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
    border: 1px solid lightskyblue;
    position: absolute;
    left: 230px;
    top: 184px;
    animation-name: left, up;
    animation-duration: 2s, 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease, linear;

}

@keyframes left {
    0%{
        left: 230px;
    }
    50%{
        left: 250px;
    }
    100%{
        left: 310px;
    }
}
@keyframes up {
    0%{
        bottom: 184px;
    }
    50%{
        bottom: 195px;
    }
    100%{
        bottom: 280px;
    }
}
